
@{
    ViewData["Title"] = "Dados Pessoais";
}

<header class="masthead text-center p-5">
    <div class="masthead-content">
        <div class="container">
            <h1 class="display-4 p-5 mb-0">Nuno Aniceto</h1>
            <h2 class="display-3 p-0 mb-0 text-mutted">Dados Pessoais</h2>


        </div>
    </div>

</header>

<section>
    <div class="container p-5">

        <article>

            <p><b>Nome:</b> Nuno Miguel Mimoso Aniceto</p>
            <p><b>Morada:</b> Guarda</p>
            <p><b>Email:</b> <a href="mailto:anicetonuno74@gmail.com">anicetonuno74@gmail.com</a></p>


        </article>

    </div>

</section>

