@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class=" col-md-3 col-sm-6 p-2">
        <a href="dados.html">
            <img src="~/img/nuno.jpg"
                 alt="Foto Nuno"
                 title="Dados Pessoais"
                 style="width:250px; height:260px"
                 class="rounded-circle img-fluid" />
        </a>
    </div>

    <div class=" col-md-3 col-sm-6 p-2">
        <a href="habilitacoes.html">
            <img src="~/img/habilitacoes.jpg"
                 alt="Habilitações"
                 title="Habilitações"
                 style="width:250px; height:260px"
                 class="rounded-circle img-fluid" />
        </a>
    </div>

    <div class=" col-md-3 col-sm-6 p-2">
        <a href="experiencia.html">
            <img src="~/img/experiencia.jpg"
                 alt="Experiência"
                 title="Experiência"
                 style="width:250px; height:260px"
                 class="rounded-circle img-fluid" />
        </a>
    </div>

    <div class=" col-md-3 col-sm-6 p-2">
        <a href="interesses.html">
            <img src="~/img/interesses.jpg"
                 alt="Interesses"
                 title="Interesses"
                 style="width:250px; height:260px"
                 class="rounded-circle img-fluid" />
        </a>
    </div>

</div>
           